input,
select,
textarea {
	&.ng-valid,
	&.ng-valid-date {
		//border: 1px solid #3C763D;
		//background-color: #DFF0D8;
	}

	&.ng-empty,
	&.ng-untouched:not(.ng-valid) {
		border: 1px solid #8a6d3b;
		background-color: #fcf8e3;
	}

	&.ng-invalid {
		border: 1px solid #A94442;
		background-color: #F2DEDE;
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}