fieldset {
	.append
}

.append {
	margin-bottom: 25px;
}

.prepend {
	margin-top: 25px;
}

.no-margin-top {
	margin-top: 0;
}

.text-color {
	color: #5bc0de;
}

.clickable {
	cursor: pointer;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.navbar {
	color: #fff;

	.container {
		margin-top: 12px;
	}
}

.container {
	margin-top: 50px;
}

.glyphicon-heart, .glyphicon-heart-empty {
	position: relative;
	top: 2px;
	right: 1px;
}

.glyphicon-heart {
	color: lightcoral;
}

.text-muted {
	color: #ccc;
}

.row {
	@media( min-width: 992px ) {
		&.flex-sm {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}