<div class="text-center" ng-show="loading">
	<i class="glyphicon glyphicon-repeat spinner"></i>
</div>

<h1 class="append no-margin-top text-center">{{board.name}}</h1>

<div class="row flex-sm">
	<div class="col-sm-{{colSize()}}" ng-repeat="(id, column) in board.columns">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{column.name}}</h3>
			</div>
			<div class="panel-body">
				<div class="panel panel-default" ng-repeat="post in posts" ng-if="post.column == id">
					<div class="panel-body">
						<div class="clearfix">
							<div class="pull-right" uib-dropdown>
								<span id="simple-dropdown" class="glyphicon glyphicon-chevron-down text-muted clickable" uib-dropdown-toggle></span>
								<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
									<li class="clickable">
										<a ng-click="remove( post );">
											<span class="glyphicon glyphicon-remove-circle"></span>
											Remove post
										</a>
									</li>
								</ul>
							</div>
						</div>

						{{post.text}}

						<div class="clearfix">
							<span class="pull-right clickable" ng-click="like( post );">
								<span ng-class="{'text-muted': !isLiked( post )}">{{post.likes}}</span>
								<span class="glyphicon glyphicon-heart" ng-show="isLiked( post )"></span>
								<span class="glyphicon glyphicon-heart-empty text-muted" ng-hide="isLiked( post )"></span>
							</span>
						</div>
					</div>
				</div>

				<div class="text-center" ng-hide="columnId == id">
					<button class="btn btn-link" ng-click="add( id );">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</button>
				</div>

				<div ng-show="columnId == id">
					<div class="form-group">
						<label for="text">New post</label>
						<textarea name="text" id="text" class="form-control" ng-model="$parent.text"></textarea>
					</div>

					<button class="btn btn-link btn-sm pull-left" ng-click="cancel();">
						<i class="glyphicon glyphicon-remove-circle"></i>
						Cancel
					</button>

					<button class="btn btn-success btn-sm pull-right" ng-click="save();">
						<i class="glyphicon glyphicon-cloud-upload"></i>
						Add post
					</button>
				</div>
			</div>
		</div>
	</div>
</div>