<form>
	<div ng-repeat="error in errors" class="alert alert-danger">
		{{error}}
	</div>

	<fieldset>
		<legend>1. Name your board</legend>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="name">Board name</label>
					<input type="text" id="name" class="form-control" ng-model="name" placeholder="My board">
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>2. Create one or more columns</legend>
		<div class="row">
			<div class="col-sm-3" ng-repeat="(index, column) in columns track by $index">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="columns[index]" placeholder="My column">
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<button class="btn btn-link" ng-click="addColumn();">
						<i class="glyphicon glyphicon-plus-sign"></i>
						Add column
					</button>
				</div>
			</div>
		</div>
	</fieldset>

	<nav>
		<ul class="pager">
			<li class="pull-right">
				<button class="btn btn-success" ng-click="save();">
					<i class="glyphicon glyphicon-cloud-upload"></i>
					Save
					<i class="glyphicon glyphicon-repeat spinner" ng-show="loading"></i>
				</button>
			</li>
		</ul>
	</nav>
</form>