<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="videoWrapper">
			<iframe width="640" height="360" src="https://www.youtube.com/embed/eEO328-qfAQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<div class="row prepend">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<div class="h1 text-color">
					<i class="glyphicon glyphicon-wrench"></i>
				</div>
				Create your custom board to suit your needs.
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<div class="h1 text-color">
					<i class="glyphicon glyphicon-globe"></i>
				</div>
				Share your board with friends.
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<div class="h1 text-color">
					<i class="glyphicon glyphicon-education"></i>
				</div>
				Collaborate and share knowledge with each other.
			</div>
		</div>
	</div>
</div>